* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
a {
  text-decoration: none;
  color:inherit;
  margin-left: 20px;
}
a:hover{
  opacity: 0.5;
}
img {
  margin: 0;
  padding: 0;
}
.container {
  max-width:800px;
  width:calc(100% - 32px);
  margin: 0 auto;
  text-align: center;
}
.header_section {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 20px;
  vertical-align: center;
}
.topimage {
  width: 100%;
}

main {
  margin-top: 60px;
}
main .container section{
  display: flex; 
  margin-top: 40px;
  text-align: left;
}
section img {
  width: 40%;
}
.musiccreate {
  flex-direction:row-reverse;
}
.musiccreate img {
  margin-left: 24px;
}
.webcreate img {
  margin-right: 24px;
}
h2 {
  font-weight: normal;
  font-size: 20px;
}
p {
  font-size: 14px;
  margin-top: 8px;
}
.access {
  padding-top: 60px;
}
.map {
  margin-right: 20px;
}
.mail {
  display: flex;
  align-items: baseline;
}


i {
  margin: 10px;
}
footer small {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
}
footer {
  margin-top: 100px;
  padding: 30px 0;
  background-color: #eee;
  /* outline: 1px solid red; */
}

@media screen and (max-width:768px),print {
  
  main .container section{
    display: block; 
    margin-top: 10px;
  }

  .webcreate img {
    width:80%;
    margin: 0 auto;
    }
  .musiccreate img {
    width:80%;
    margin: 10px auto;
    text-align: center;
  }
  .access {
    padding-top: 20px;
  }
  .footer {
    padding: 20px 0;
  }

}